<%- include('../partials/head') %>
<%- include('../partials/navbar-profile') %>

<div id="body-id" class="container">

    <div >
        
        <h2><%- kid.name %>'s information</h2>

        <h3>Name: <%- kid.name %></h3>
        <h4>Age Range: <%- kid.age %></h4>

        <br>

        <div class="button-center button-form-kids center">

            <button class=" btn z-depth-1 waves-effect waves-light">
                <a class="h-shadow-w" href="/kids/<%- kid._id %>/update">Update kid</a>
            </button>
       
            <form class="button-form-kids" action="/kids/<%- kid._id %>/delete" method="POST">
                <button class=" btn z-depth-1 waves-effect waves-light" type="submit">Delete kid</button>
            </form>

        </div>
    

    </div>

    <div>
        <h3 class="center">Activities for <%- kid.name %> </h3>
    </div>
    
    <div class="gallery-kid">
        <% kid.activities.forEach(activity => { %>

            <div class="act-card-kid hoverable">
                    
                <div class="card-kid act-car">
                    <div class="card-image ">
                        <img class=" z-depth-1" src="<%-activity.image%>" alt="<%- activity.name %>">
                    </div>
                      
                    <div class="card-content-kid">
                        
                        <h4 class="capitalize card-title activator  center"><%- activity.name %></h4n>              
                        
                        <h6>
                            <a class="click-for-more"  href="/activities/<%- activity._id %>">Click me!</a>
                        </h6>
                       
                    
                    </div>

                </div>
            
            </div>

        <% }) %>
    </div>
   
       
</div>  
