<%- include('../partials/head') %>
<%- include('../partials/navbar-home') %>

<div id="body-id" class="body-main container">

<main>
    <header id="profile-id" class="profile-body">
      <h1>Activities</h1>
    </header>

    <% activities.forEach(activity => { %>
    <img src="<%-activity.image%>" alt="activityImg">
    <h3><%- activity.name %></h3>
    <% }) %>


</main>
</div>

<footer class="page-footer">
    <%- include('../partials/footer') %>
</footer>