<%- include('../partials/head') %>
<%- include('../partials/navbar-profile') %>

<div class="page-container">

  <div class="tittle-div z-depth-2">
    <header id="profile-id" class="tittle-div center">
      <h2 class="body-main-h2 h-shadow-w capitalize "><%- activity.name %></h2>
    </header>
  </div>

  <div class="title-center">

    <div class="row content-wrap">

      <div class="act-details-color-main hoverable activity-column col s12 m12 offset-l1 l10">

        <div class=" col s12 m10 l10">
          <img class="photo responsive-img2 " src="<%- activity.image %>" alt="">
        </div>

        <h5 class="h-shadow-w h5-p">Description:</h5>
        <p class=" h-shadow-w activities-p"><%- activity.description %></p>

        <h5 class=" h-shadow-w h5-p">Duration:</h5>
        <p class=" h-shadow-w h-shadow-w activities-p"><%- activity.duration %>minutes.</p>

        <h5 class="h-shadow-w h5-p">Age range</h5>
        <p><% activity.age.forEach(ageRanges => { %></p>
        <p class="h-shadow-w activities-p"><%- ageRanges %></p>
        <% })%>

        <h5 class="h-shadow-w h5-p">Skills</h5>
        <p><% activity.skills.forEach(element => { %></p>
        <p class="h-shadow-w activities-p"><%- element %></p>
        <% }) %>

        <h5 class="h-shadow-w h5-p">Materials</h5>
        <p><% activity.materials.forEach(element => { %></p>
        <p class="h-shadow-w activities-p"><%- element %></p>
        <% }) %>


        <h5 class="h-shadow-w h5-p">Steps</h5>
        <ol>
          <% activity.steps.forEach(element => { %>
          <li class="h-shadow-w activities-ol"><%- element %></li>
          <% }) %>
        </ol>
        
        
        <div class="button-center-act-det">

          <button class="btn waves-effect waves-light">
              <a class="h-shadow-w" href="/activities/<%- activity._id%>/update">Update activity</a>
          </button>
        
          <form class="form-reset button-form-kids-act " action="/activities/<%- activity._id %>/delete" method="POST">
            <button class="btn waves-effect waves-light" type="submit">Delete activity</button>
          </form>

        </div>
        
      </div>

    </div>

  </div>

</div>

<footer class="page-footer">
  <%- include('../partials/footer') %>
</footer>

<%- include('../partials/scripts') %>