<%- include('../partials/head') %>
<%- include('../partials/navbar-profile') %>
 

<div class=" body-main page-container">
    <div class="content-wrap">
    
        <div class="row content-wrap">

            <div class=" hoverable profile-column col s10 m10 offset-l1 l10 blue darken-1">
   
<h3 Class="activity-detail-header capitalize"><%- activity.name %></h3>
<div class="col s12 m10 l10">
    <img class=" responsive-img2 " src="<%- activity.image %>" alt="">
    </div>

    



<h5 class="h5-p">Description:</h5>
<p class="activities-p"><%- activity.description %></p>

<h5 class="h5-p">Duration:</h5>
<p class="activities-p"><%- activity.duration %>minutes.</p>

<h5 class="h5-p">Age range</h5>
    <p ><% activity.age.forEach(ageRanges => { %></p>
    <p class="activities-p"><%- ageRanges %></p>   
<% })%>

<h5 class="h5-p">Skills</h5>
<p ><% activity.skills.forEach(element => { %></p>
    <p class="activities-p"><%- element %></p>
<% }) %>


<h5 class="h5-p">Materials</h5>
<p ><% activity.materials.forEach(element => { %></p>
    <p class="activities-p"><%- element %></p>
<% }) %>     

<h5 class="h5-p">Steps</h5>
<ol>
<% activity.steps.forEach(element => { %>
  <li class="activities-ol"><%- element %></li>
<% }) %>
</ol>
<br>

    
</div>

</div>

</div>

</div>

<footer class="page-footer">
    <%- include('../partials/footer') %>
  </footer>
  