<%- include('./partials/head') %>
<%- include('./partials/navbar-profile') %>

<div class="page-container-add">
          
  <div class="tittle-div z-depth-2">
    <header id="profile-id" class="tittle-div center">
      <h2 class="body-main-h2 h-shadow-w">Articles</h2>
    </header>
  </div>

  <div class="title-center">

    <div class="kid-add-card-pannel form-card">

      <main class="new-activity">

        <form action="/articles" method="POST">
   
            <div class="choose-div">
                <label for="form-select-1" class="label-bottom"> Month:
                  <select name="month" id="form-select-1" class="browser-default">
                    <option value="" disabled selected>Choose your option:</option>
                    <option value="1">Jan.</option>
                    <option value="2">Feb.</option>
                    <option value="3">Mar.</option>
                    <option value="4">Apr.</option>
                    <option value="5">May.</option>
                    <option value="6">Jun.</option>
                    <option value="7">Jul.</option>
                    <option value="8">Aug.</option>
                    <option value="9">Sep.</option>
                    <option value="10">Oct.</option>
                    <option value="11">Nov.</option>
                    <option value="12">Dec.</option>
                  </select>
                </label>
              </div>
              <div class="choose-div">
                <label for="form-select-1" class="label-bottom"> Year:
                  <select name="year" id="form-select-1" class="browser-default">
                    <option value="" disabled selected>Choose your option:</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                  </select>
                </label>
              </div>

                <div class="button-center checkbox-form">
                  <button class="btn waves-effect waves-light" type="submit">Search
                    <i class="material-icons right">send</i>
                  </button>
                </div>

        </form>

      </main> 

    </div>

  </div>


 
  <div class="container">

      <% articles.forEach(article => { %>
 
      <h2 class="body-main-h2 h-shadow-b"><%- article.title %><h2> 
 
       <img class="carousel-sizing" src="<%- article.image %>" alt="">
 
 
       <article class=" h-shadow-b flow-text home-p"><%- article.information %> </article>
  
      <% }) %>
  </div>

</div>









<!-- 

<body>
    <ul>
        % articles.forEach((article)=> { %>
            <li>
                <h2>
                    %= article.title %>
                </h2>
                <p>
                    %= article.body %>
                </p>
            </li>
            <hr />
     % }) %>
    </ul>
</body>


-->