<%- include('./partials/head') %>
<%- include('./partials/navbar-profile')%>

<div class="page-container">
    <div class="content-wrap">
    
        <div class="row content-wrap">

            <div class="profile-column col s12 m4 l4 blue darken-1">
                
                <header id="profile-id" class="profile-body">
                    <h4 class="center small"><%= user.name %>'s Profile</h4>
                    <button><a href="/logout">Logout</a></button>
                    <button><a href="/<%- user._id %>/update">Update profile</a></button><br>
                    <!--<form action="/<%- user._id %>/delete" method="POST">
                        <button type="submit">Delete profile</button>
                    </form>-->
                </header>
                <h5 class="profile-h5"><%= user.name %>'s Kids</h5>
                <% kids.forEach(kid => { %>
                  <div class="card-image">
                    <img class="responsive-img2" src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/1.jpg">
                    <p><%- kid.name %>'s profile</p>
                    <button><a href="/kids/<%- kid._id %>">Details</a></button>
                </div>
                <% }) %>
                <button><a href="/kids/newKid">Add a kid</a></button>



               

                

            </div>

            <div class="col s12 m8 l8 blue lighten-5">
                <!-- Note that "m8 l9" was added -->
                <!-- Teal page content
        
                    This content will be:
                9-columns-wide on large screens,
                8-columns-wide on medium screens,
                12-columns-wide on small screens  -->


            </div>

        </div>

    </div>
    <footer class="page-footer">
        <%- include('./partials/footer') %>
    </footer>

</div>

<%- include('./partials/scripts') %>




